.lead__title {
  max-width  : 720px;
  min-height : 200px;
  margin     : 56px 0 32px;
  font-style : normal;
  font-weight: bold;
  font-size  : 96px;
  line-height: 104%;
  text-align : center;
}

@media screen and (max-width: 680px) {
  .lead__title {
    margin-top    : 48px;
    font-size     : 40px;
    line-height   : 44px;
    padding-bottom: 16px;
  }
}
