@import url(./__image/place__image.css);
@import url(./__description/place__description.css);
@import url(./__paragraph/place-paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place____url-heading.css);
@import url(./__link/place__link.css);

.place {
    display : grid;
    margin  : 80px auto;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image description";
    grid-template-columns: 460px 1fr;

}

@media screen and (max-width: 1184) {
    .place {
        margin-bottom        : 84px;
        grid-column-gap      : 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 984px) {
    .place {
        margin-bottom        : 72px;
        grid-column-gap      : 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 734px) {
    .place {
        grid-template-areas: "title title"
            "image description";
        grid-template-columns: minmax(200px, 1fr) 1fr;
    }
}

@media screen and (max-width: 560px) {
    .place {
        grid-template-areas: "title"
            "image" "description";
        grid-row-gap         : 28px;
        grid-template-columns: minmax(200px, 1fr);
    }
}