.place__description {
    grid-area: description;
    margin   : 0;
}

@media screen and (max-width:732px) {
    .place__description {
        margin: 0 auto 24px;
    }
}

@media screen and (max-width:560px) {
    .place__description {
        padding: 0 16px;
    }
}